img {
    width: 100%;
    object-fit: cover;
}

.auth{
    background-image: url(../img/kata_img2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: 92vh;
    padding-top: 20vh;
    margin: 0;
}

.auth label{
    font-family: Roboto Slab,
    Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif !important;
    font-size: 1.25em;
}

.auth .card{
    height: 60vh;
}

.auth .card-body{
    padding-top: 5vh;
    font-family: Roboto Slab,
    Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif !important;
    font-size: 1em;
}

.auth .card-header{
    font-family: Roboto Slab,
    Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif !important;
    font-size: 1.5rem;
}

.wrapper{
    padding-bottom: 10vh;
    padding-top: 20vh;
    background-attachment: fixed;
    background-image: url('https://wallpaperplay.com/walls/full/4/5/1/13886.jpg');
    background-size: cover;
}

.content{
    background-color: white;
    height: 70vh;
    padding: 5%;
}

textarea.code {
    display: none;
}

.navbar-brand>img {
    display: block;
    width: 250px;
    margin-top: -15px;
}

.navbar{
    padding: 0 20px 0 20px!important;
}

footer {
    font-size: 1.25rem;
    background: #d2d2d2;
    padding: 15px;
    height: 8vh
}

.container-fluid {
    padding: 0px;
}

div#navbar {
    margin-top: 20px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    height: 85px;
    padding: 0 35px;
    background: white;
    z-index: 100;
}

.dropdown-menu li {
    margin: 10px;
}

.card-top {
    background: linear-gradient(#3ea5ff 29%, #1f547b);
    margin: auto;
    padding: 38px;
}

.card-top img {
    max-width: 60%;
    display: block;
    margin: auto;
}

.inner {
    padding: 0;
    margin: 1em;
    box-shadow: 0px 1px 3px #6c6c6c;
    overflow: hidden;
    border-radius: 20px;
}


.jumbotron {
    padding-top: 20vh!important;
    margin-bottom: 0!important;
    background-image: url(../img/kata_img.jpeg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.card-bottom {
    padding: 5%;
}


form {
    font-family: monospace !important;
}

img#font-bluearr {
    position: absolute;
    top: 40%;
    width: 67px;
    right: -6%;
    z-index: 10;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #282828;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-size: 20px;
    position: relative;
    top: -20px;
    z-index: 100;
}

pre {
    font-family: monospace;
    font-size: 1em;
    background: #0e7695a6;
    color: white;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
    border: 1px dotted #8a8a8a;
}

.html {
    background-image: url(../img/html.jpg) !important;
}

.btn {
    border-radius: 23px;
    border: 1.5px solid white;
    box-shadow: 0px 1px 2px #999999;
}

.cm-s-cobalt.CodeMirror {
    background: rgba(0, 34, 64, 0.7) !important;
    background-image: url(../img/noise.png) !important;
    background-size: 118% !important;
}

.CodeMirror {
    border-radius: 20px;
}

#popup {
    width: 55%;
    background: white;
    padding: 5% 18% 5% 5%;
    margin: auto;
    top: 20%;
    position: relative;
    text-align: center;
    background-image: url(../img/kata.jpeg);
    border-radius: 20px;
    background-size: 44%;
    background-repeat: no-repeat;
    background-position-x: right;
}

div#popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000008c;
    z-index: 10000;
}

.pulse {
    background: #4CAF50;
    cursor: pointer;
    box-shadow: 0 0 0 #4CAF50;
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(92, 184, 92, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(92, 184, 92, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.9);
        box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.9);
    }

    40% {
        -moz-box-shadow: 0 0 0 8px rgba(92, 184, 92, 0.4);
        box-shadow: 0 0 0 8px rgba(92, 184, 92, 0.4);
    }

    60% {
        -moz-box-shadow: 0 0 0 10px rgba(92, 184, 92, 0);
        box-shadow: 0 0 0 10px rgba(92, 184, 92, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0px rgba(92, 184, 92, 0);
        box-shadow: 0 0 0 0px rgba(92, 184, 92, 0);
    }
}

.pulsered {
    background: rgb(63, 185, 243);
    cursor: pointer;
    box-shadow: 0 0 0 0 rgb(63, 185, 243);
    animation: pulsered 1s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}

.pulsered:hover {
    animation: none;
}

@-webkit-keyframes pulsered {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(63, 185, 243, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(63, 185, 243, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(63, 185, 243, 0);
    }
}

@keyframes pulsered {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(63, 185, 243, 0.9);
        box-shadow: 0 0 0 0 rgba(63, 185, 243, 0.9);
    }

    40% {
        -moz-box-shadow: 0 0 0 8px rgba(63, 185, 243, 0.4);
        box-shadow: 0 0 0 8px rgba(63, 185, 243, 0.4);
    }

    60% {
        -moz-box-shadow: 0 0 0 10px rgba(63, 185, 243, 0);
        box-shadow: 0 0 0 10px rgba(63, 185, 243, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0px rgba(63, 185, 243, 0);
        box-shadow: 0 0 0 0px rgba(63, 185, 243, 0);
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

    img#font-bluearr {
        top: 100%;
        width: 120px;
        right: -9%;
        z-index: 10;
        transform: rotate3d(39, 41, 3, 180deg);
    }
}

@media screen and (max-width: 768px){
    .display-desktop {
        display: none;
    }
}

@media screen and (max-width: 576px) {

}
